<div class="container-fluid">
    <div class="top">
        <span class="book">Booking</span>
        <span class="close" mat-dialog-close><i class="fa fa-close"></i></span>
    </div>

    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <img src="/assets/images/close.gif" alt="" width="100%" height="100%">
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row text-center msg">
        <span class="text">You have already</span><br>
        <span class="text1"> cancelled your lunch</span>
    </div>

    <div class="row mt-2">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <button class="closebtn" mat-dialog-close>Close</button>&nbsp;
        </div>
        <div class="col-2"></div>
    </div>
</div>


