<!-- <a class="btn btn-white btn1 m-1" routerLink="/user-location" routerLinkActive="active">location</a> -->
<!-- 
<button class="btn btn-primary" routerLink="/user-login">Login</button> -->
<div class="container-fluid">
    <div class="row">
    <div class="card">
        <div class="row">
                <img src="/assets/images/emailverify.png" alt="img" class="img">
        </div>
        <div class="row">
            <h2 class="greetings">Congratulations You've been Verified</h2><br>
            <h4 class="msg">You can now manage You'r account with this email:<br><span class="profile">{{Profile.email_id}}</span></h4><br>
            <div class="row">
                <button class="btn" routerLink="/user-login">Login Now</button>
            </div>
        </div>
    </div>
    </div>
</div>

