.header{
    background-color: #3f51b5;
    color: white;
}
.head{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: ui-sans-serif;
    color: white;
    padding-top: 1rem;
}
.close{
    color: red;
    font-size: 20px;
}
mat-form-field{
    width: 100%;
}
.launch{
    color: #1fa67a ;
    font-weight: 500;
}
