.head{
    background-color: #ebebeb;
    height: 60px;
    line-height: 60px;
}
.spacer{
    flex: 1 1 auto;
}
.dashboard{
    font-size: 1rem;
    margin-left: 2.5rem;
    font-weight: 500;
    color: rgb(35, 33, 33);
}
.path{
    float: right;
    margin-right: 1.5rem;
    font-size: 14px;
}
.body{
    background: rgb(129,121,164);
    background: linear-gradient(0deg, rgba(129,121,164,1) 11%, rgba(94,143,200,1) 45%);
    height: 100%;
}
.ft{
    background-color: #ebebeb;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
}

.title{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
}
.d-flex {
    display: flex!important;
}
.bg-comman {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 31px 3px rgba(44, 50, 63, 0.02);
}
.card-body {
    position: relative;
    padding: 25px;
    transform: translateY(-10px);
}
.card-body {
    padding: 1.25rem;
}
.bg-comman .db-icon {
    background-color: #EDF4FF;
    border-radius: 8px;
}
.db-icon {
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}
.db-info h6 {
    margin: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #3f51b5;
    margin-bottom: 5px;
}
.db-info h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
}
.fa-file-text{
    color: #3f51b5;
    font-size: 30px;
}
.fa-calendar-check-o{
    color: #3f51b5;
    font-size: 30px;
}
.fa-users{
    color: #3f51b5;
    font-size: 30px;
}
.fa-building{
    color: #3f51b5;
    font-size: 30px;
}
.fa-bookmark{
    color: #3f51b5;
    font-size: 30px;
}