
    <div class="head">
        <span class="dashboard">Dashboard</span>
        <span class="path">Home &nbsp;/&nbsp;<span style="color: #3f51b5;">Dashboard</span></span>
    </div>
    <div class="body">
        <div class="container-fluid">
            <div class="row">
                <h3 class="title mt-4 px-4">Welcome Admin!</h3>
            </div>
            <div class="row mt-4 px-3">
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100 mb-2">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Branches</h6>
                                    <h3>30</h3>
                                </div>
                                <div class="db-icon">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100 mb-2">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Slots</h6>
                                    <h3>4+</h3>
                                </div>
                                <div class="db-icon">
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100 mb-2">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Users</h6>
                                    <h3>1</h3>
                                </div>
                                <div class="db-icon">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Bookings</h6>
                                    <h3>12</h3>
                                </div>
                                <div class="db-icon">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Confirmed</h6>
                                    <h3>10</h3>
                                </div>
                                <div class="db-icon">
                                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row g-0">
        <div class="ft text-center">
                <span>Copyright &#169; 2023 <a href="http://vitasoft.in" target="_blank" style="text-decoration: none;">VITA Technologies</a>. All Rights are Reserved</span>
        </div>
    </div>

