.head{
    background-color: #ebebeb;
    height: 60px;
    line-height: 60px;
}
.spacer{
    flex: 1 1 auto;
}
.dashboard{
    font-size: 1rem;
    margin-left: 2.5rem;
    font-weight: 500;
    color: grey;
}
.path{
    float: right;
    margin-right: 1.5rem;
    font-size: 14px;
}
.body{
    background-color: #f7f7ff;
    height: 100%;
}
.ft{
    background-color: #ebebeb;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
}

