
    <div class="head">
        <span class="dashboard">Dashboard</span>
        <!-- <span class="spacer"></span> -->
        <span class="path">Home &nbsp;/&nbsp;<span style="color: #3f51b5;">Dashboard</span></span>
    </div>
    <div class="body">
        <!-- <div class="row mt-4">
            <div class="col-sm-3 card p-2 mt-4">
                <h4>Users</h4>
                <div class="row">
                    <div class="col-sm-8">
                        img
                    </div>
                    <div class="col-sm-4">
                        10
                    </div>
                </div>
            </div>
            <div class="col-sm-3 card">
                <h4>Bookings</h4>
                <div class="row">
                    <div class="col-sm-8">
                        img
                    </div>
                    <div class="col-sm-4">
                        7
                    </div>
                </div>
            </div>
            <div class="col-sm-3 card">
                <h4>Confirmed</h4>
                <div class="row">
                    <div class="col-sm-8">
                        img
                    </div>
                    <div class="col-sm-4">
                        5
                    </div>
                </div>
            </div>
            <div class="col-sm-3 card">
                <h4>Admins</h4>
                <div class="row">
                    <div class="col-sm-8">
                        img
                    </div>
                    <div class="col-sm-4">
                        3
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row mt-4 px-3">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100 mb-2">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Users</h6>
                                <h3>12+</h3>
                            </div>
                            <div class="db-icon">
                                <img src="assets/images/file2.png" alt="ffff">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100 mb-2">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Branches</h6>
                                <h3>4+</h3>
                            </div>
                            <div class="db-icon">
                                <img src="assets/images/departmenticon.svg" alt="ffff">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100 mb-2">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Bookings</h6>
                                <h3>12+</h3>
                            </div>
                            <div class="db-icon">
                                <img src="assets/images/Sadminofficerlogo.png" alt="ffff" style="height:55px;width:55px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Confirmed</h6>
                                <h3>12</h3>
                            </div>
                            <div class="db-icon">
                                <img src="assets/images/Sadminfacultylogo.png" alt="ffff" style="height:55px;width:55px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 px-3">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100 mb-2">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Admin(s)</h6>
                                <h3>12+</h3>
                            </div>
                            <div class="db-icon">
                                <img src="assets/images/studenticon.svg" alt="ffff">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="ft text-center">
                <span>Copyright &#169; 2023 <a href="http://vitasoft.in" target="_blank" style="text-decoration: none;">VITA Technologies</a>. All Rights are Reserved</span>
        </div>
    </div>

