<div class="container">
    <form [formGroup]="AddBookingsForm" (ngSubmit)="AddBookings()">
    <div class="row mb-4 header">
        <h3 class="head">URBAN TASTING FOOD COMPANY</h3>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <mat-form-field appearance="outline" >
                <mat-label>User</mat-label>
                <mat-select formControlName="user_id">
                    <mat-option *ngFor="let u of Users" value="{{u._id}}">{{u.emp_name}}</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm-5">
            <mat-form-field appearance="outline" >
            <mat-label>Branch</mat-label>
            <mat-select formControlName="branch_id">
                <mat-option *ngFor="let b of Branches" value="{{b._id}}">{{b.location}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <mat-form-field appearance="outline" >
                <mat-label>Booking Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="booking_date">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <mat-form-field appearance="outline" >
            <mat-label>Launch Status</mat-label>
            <mat-select formControlName="lunch_status">
                <mat-option value="0">not available</mat-option>
                <mat-option value="1">available</mat-option>
                <mat-option value="2">booked By User</mat-option>
                <mat-option value="3">Cancelled</mat-option>
                <mat-option value="4">Confirmed</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-5">
            <mat-form-field appearance="outline" >
                <mat-label>Dinner Status</mat-label>
                <mat-select formControlName="dinner_status">
                    <mat-option value="not available">not available</mat-option>
                    <mat-option value="available">available</mat-option>
                    <mat-option value="booked By User">booked By User</mat-option>
                    <mat-option value="Cancelled">Cancelled</mat-option>
                    <mat-option value="Confirmed">Confirmed</mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <mat-form-field appearance="outline" >
            <mat-label>Slots</mat-label>
            <mat-select formControlName="slot">
                <mat-option *ngFor="let s of Slots" value="{{s.slot_name}}">{{s.slot_name}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row mb-4 mt-2 px-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="col-sm-3 text-center">
                <mat-slide-toggle formControlName="status">
                    <span class="launch">Status</span>
                </mat-slide-toggle>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="text-center mt-4">
        <button mat-raised-button color="primary" [disabled]="this.AddBookingsForm.invalid">Save Bookings</button>&nbsp;
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </div>
</form>
</div>


