<!-- <a class="btn btn-white btn1 m-1" routerLink="/user-foodDetails" routerLinkActive="active">Details</a> -->

<div class="container-fluid">
    <div class="row">
        <h3 class="title mt-4 px-4">Select Location</h3>
    </div>
    <div class="row">
        <div class="w-50" *ngFor="let b of Branches">
            <div class="card bg-comman mb-2" (click)="selectLocation(b._id)" >
                <div class="card-body">
                    <h4 class="text-center mt-4 branch">{{b.location}}</h4>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 mb-4">
            <button class="button" routerLink="/user-foodDetails">Confirm</button>
        </div>
    </div>
</div>
