.container-fluid{
    background-color: antiquewhite;
}
.Cname{
    text-align: center;
}
.branch{
    font-size: 14px;
    font-weight: 600;
    color: goldenrod;
}
.button{
    width: 50%;
    margin: auto;
    background-color: goldenrod;
    color: white;
    border-color: goldenrod;
    padding: 6px;
    border-radius: 30px;
}
.title{
    font-size: 16px;
    font-weight: 500;
}.card {
    
  }
  
  
  .card:hover {
    background-color: grey;
  }
  .card.active {
    background-color: #f0f0f0;
    border: 2px solid rgb(0, 0, 255);
  }
  