<div class="container-fluid h-100">
    <div class="text-center">
        <img src="/assets/images/logo3.png" alt="" style="width: 20%;align-items: center;margin-bottom: 10px;margin-top: 15px;"><br>
        <span class="utfc">Urban Tasting Food Company</span>
    </div>
    <div class="text-center">
        <button class="Btn1 mt-5" routerLink="/admin-login" routerLinkActive="active">Admin-Login</button><br>
        <button class="Btn mt-1" routerLink="/user-login" routerLinkActive="active">User</button> 
    </div>
    <footer class="fixed-bottom pb-1">
        <div class="row">
            <div class="col-md-6 text-center">
                <span class="text">Developed by</span><br>
                <span class="cName">VITA Techonolgies</span>
            </div>
        </div>
    </footer>
</div>
