.head{
    background-color: #ebebeb;
    height: 60px;
    line-height: 60px;
}
.dashboard{
    font-size: 1rem;
    margin-left: 2.5rem;
    font-weight: 500;
    color: grey;
}
.path{
    float: right;
    margin-right: 1.5rem;
    font-size: 14px;
}
.body{
    background-color: #f7f7ff;
}
.ft{
    background-color: #ebebeb;
    padding: 0.5rem;
}
.card{
    width: 95%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.add{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
  }
.table{
    background-color: rgb(246, 250, 254);
}
th{
    color: #3f51b5;
    font-size: 14px;
    font-weight: 500;
}
