<div class="container-fluid">
    <div class="top">
        <span class="book">Bookings</span>
        <span class="close" mat-dialog-close>x</span>
    </div>
    <div class="row text-center msg">
        <span class="text">Are You Sure to Book your</span><br>
        <span class="text1"> Lunch on <b>{{data.date | date:'dd-LLL'}}</b></span>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card text-center mb-3" *ngFor="let s of Slots" (click)="selectSlot()">
                <div class="row">
                    <div>
                        <span>{{s.from_time}}</span> -
                        <span>{{s.to_time}}</span><br>
                        <span>Slots available :{{s.count}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-4">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <button class="closebtn" mat-dialog-close>Close</button>&nbsp;
            <button class="bookbtn"(click)="Book()">Book</button>
        </div>
        <div class="col-2"></div>
    </div>
</div>
