.top{
    margin-top: 20px;
}
.book{
    font-weight: 800;
    letter-spacing: 1px;
}
.close{
    float: right;
    font-size: 18px;
    margin-right: 16px;
}
.msg{
    margin-top: 20px;
}
.closebtn{
    border-radius: 16px;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.bookbtn{
    border-radius: 16px;
    background-color: rgb(227, 44, 44);
    color: #fff;
    border-color: rgb(227, 44, 44);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.text{
    font-size: 12px;
}
.text1{
    font-size: 12px;
}
.card{
    padding: 5px;
    background-color: antiquewhite;
}
.card:hover {
  background-color: grey;
  color: #fff;
}
.card.active {
  background-color: #f0f0f0;
  border: 2px solid rgb(0, 0, 255);
}
